.uploadButton {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 12px 20px;
  transition: 100ms;
}

.uploadButton:hover {
  opacity: .8;
}

.uploadButton:has(input:disabled) {
  background-color: rgb(93, 93, 93);
}

.uploadButton:hover:has(input:disabled) {
  opacity: 1;
  cursor: not-allowed;
}

.uploadButton input {
  display: none;
}
